.bin-button {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: #c54646;
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: #da4e4e;
}
.bin-button:active {
  transform: scale(0.9);
}

.btnDel--peq {
  width: 40px;
  height: 40px;
}

.btnDel--peq .bin-bottom {
  width: 11px;
}

.btnDel--peq .bin-top {
  width: 14px;
}

.btnDel--recurso {
  width: 35px;
  height: 35px;
}

.btnDel--recurso .bin-bottom {
  width: 8px;
}

.btnDel--recurso .bin-top {
  width: 9px;
}